# Repositories folders
repositories/curl/
repositories/openssl/
repositories/xtralife/
repositories/pthread/

# Mac files
.DS_Store

# XCode user files
xcuserdata/


# Gradle files
!gradle-wrapper.jar
.gradle
build/

# Android Studio files
*.iml
.idea/
.settings/
.classpath
.project

# Android NDK files
.cxx/

# Visual Studio files
.vs/
x64/
*.vcxproj.user