# Repositories folders
repositories/curl/
repositories/openssl/
repositories/xtralife/
repositories/pthread/

# Mac files
.DS_Store

# XCode user files
xcuserdata/


# Gradle files
!gradle-wrapper.jar
.gradle
/build/